{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
    <title>Document</title>
</head>
<body>

    <div>
        
    <table class="styled-table" >
        <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Amount</th>
               
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2022-11-2</td>
                <th>Monday</th>
                <td>45000</td>

            </tr>
       
        </tbody>
    </table>
    </div>


</body>
</html>